// run a user script file if present
exec autoexec.cfg
exec config.cfg

// stuff command line statements
stuffcmds


exec required.cfg


alias deerhud_initial "exec deerhud_initialize"
exec #deerhud_initial.txt
deerhud_initial


//run all the alias commands
exec deerhud.cfg